# Runtime cache files
.kitchen/
.vagrant/

# Editor temporary files
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler, Berks, etc.
bin/*
.bundle/*
vendor/
rspec_guard_result

# Local override files
.kitchen.local.yml
